<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Log queries
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    -->

    <!-- Log rest petitions
    <logger name="reactor.netty.http.client.HttpClient" level="DEBUG"/>
    -->

    <logger name="me.renedo" level="INFO"/>

    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
